<!-- Table sorting function -->
<script src="../static/tablesort.js"></script>
<script src="../static/tablesort.number.js"></script>

{% extends "base.html" %}

{% block title %}Wiki Statistics{% endblock title %}

{% block content %}
<h3 style="text-align: center;">Most popular tags</h3>
<table id="pop_tags" class="table table-bordered table-hover", style="overflow-y:scroll;">
	<thead>
		<tr>
			<th>Tag</th>
			<th>Article Count</th>
		</tr>
	</thead>

	{% for tag in stats_dict | dictsort(true,'value',reverse=true)%}
		{% if tag[1] > 1 %}
		<tr>
			<td><a href='../tag/{{tag[0]}}' style="text-transform: capitalize;">{{tag[0]}}</a></td>
			<td>{{tag[1]}}</td>
		</tr>
		{% endif %}
	{% endfor %}
</table>
<script>
		new Tablesort(document.getElementById('pop_tags'));
</script>
<h3 style="text-align: center;">Articles with most tags</h3>

<table id="article_tags" class="table table-bordered table-hover", style="overflow-y:scroll;">
	<thead>
		<tr>
			<th>Article</th>
			<th>Tag Count</th>
		</tr>
	</thead>

	{% for page in pages | sort(attribute='title') %}
		{% if page.tags.split(',') | length > 1 %}
			<tr>
				<td><a href='../{{page.title}}' style="text-transform: capitalize;">{{ page.title }}</a></td>
				<td>{{ page.tags.split(',') | length }}</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
<script>
		new Tablesort(document.getElementById('article_tags'));
</script>

<h3 style="text-align: center;">Longest Articles (by word count)</h3>

<table id='longest_articles' class="table table-bordered table-hover", style="overflow-y:scroll;">
	<thead>
		<tr>
			<th>Article</th>
			<th>Word Count</th>
		</tr>
	</thead>

	{% for page in pages | sort(attribute='title') %}
			<tr>
				<td><a href='../{{page.title}}' style="text-transform: capitalize;">{{ page.title }}</a></td>
				<td>{{ page.body.split(' ') | length}}</td>
			</tr>
	{% endfor %}
</table>
<script>
		new Tablesort(document.getElementById('longest_articles'));
</script>
{% endblock content %}